body{
    background-color: lightgray;
}

.card {
    background-color: rgb(220, 226, 207);
    margin: 5px;
    width: 40rem;
    font-family:'Times New Roman', Times, serif,
}

img {

    width: 400px,;
    height: 400px;
}