{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/trails" method="POST">
        <fieldset>
            <legend>Add New Trail</legend>
                <label class="form-label">State: </label>
            <input 
                type="text" 
                name="state" 
                placeholder="Enter State (location)"
                class="form-control"
                value="{{trail.state}}"
            >
                 <label class="form-label">Location:</label>
            <input 
                type="text" 
                name="location"
                placeholder="ex: Riding area, park, National Forest, Local landmark"
                class="form-control"
            >
                <label class="form-label">Trail: </label>
            <input 
                type="text" 
                name="trail" 
                placeholder="Trail name"
                class="form-control"
            >
                <label class="form-label">Type:</label>
            <input 
                type="text" 
                name="type" 
                placeholder="ex: cross-country, singletrack, gravity/downhill" 
                class="form-control"
            >

         
        </fieldset>
        <input type="submit" value="Create New Trail" class="btn btn-success" value="create trail">
    </form>
</div>
{% endblock %}